.header-top{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.title-text {
    overflow:auto; min-height: 20px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px ;
}
.body-text {
    overflow:auto; min-height: 300px;
    font-size: 15px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px ;
}
.nick{
    display: flex;
    margin:6px;
}
.li-title {
    font-size: 15px;
    font-weight: bold;
}
.li-detail{
    font-size: 13px;
    color: rgb(102, 89, 89);
}
.board-main{
    font-size: 20px;
    margin-left: 20px;
}
.tool{
    margin: 3px;
    padding: 2px;
    height: 10px;
    width: 10px;
}
#colstyle{
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 4px;
    margin: 2px;
    padding: 3px;
}
.libanner{
    cursor: pointer; border:1px solid gainsboro ; width: 300;border-radius: 5px;margin-bottom : 3px;

    
}
#col2style{
    text-align: left;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 3px;
}